body {
	 background-color: #f5fffe;
}
#container {
}
#header { 
	 font-size: 2.2em;
	 text-align: center;
	 padding: 5px;
}
#nav {
	 float: left; 
	 width: 100px;
	 padding: 5px;
	 text-align: right;
}
#content {
	 float: left;
	 max-width: 400px;
	 margin: 10px;
	 padding: 10px;
	 text-align: justify;
	 //word-break: break-all;
}
#aside {
	 float: right; 
	 width: 100px; 
	 padding: 5px;
	 text-align: left;
}
#footer { 
	 clear: both;
	 padding: 5px;
}

#myTest {
	border-color: cadetblue;
	border-style:solid;
	color: blue;
}
p#p1 {
	color: #be5858;
}
p.p {
	color: black;
}

